<h1>Laboratório IME USP</h1>

Bem-vindo ao mais completo laboratório da Universidade de São Paulo, aqui você é tratado como em qualquer outro lugar. 

<h2>Consultas</h2>

Algumas consultas rápidas realizadas em nosso sistema:

<ul>
    <li> <a href="query1">Listando todos os exames realizados</a> </li>
    <li> <a href="query2">Listando os 5 exames realizados com maior eficiência</a> </li>
    <li> <a href="query3">Listando serviços que podem ser utilizados por usuários</a> </li>
    <li> <a href="query4">Listando serviços que podem ser utilizados por usuarios tutelados</a> </li>
    <li> <a href="query5">Listando em ordem crescente o total de serviços utilizados agrupados pelos tipos de serviços disponíveis e pelo perfil dos usuários</a> </li>
</ul>

<h2>Interface</h2>

Pelos links abaixo é possível realizar ações no sistema. A edição e remoção de instâncias podem ser feitas através da página de visualização.

Uma visualização completa de todas as relações do sistema pode ser contemplada <a href="../admin/laboratorio">aqui</a>.

<ul>
    <li> Pessoa: <a href="../admin/laboratorio/pessoa/add">cadastro</a> | <a href="../admin/laboratorio/pessoa/">visualização</a></li>
    <li> Paciente: <a href="../admin/laboratorio/paciente/add">cadastro</a> | <a href="../admin/laboratorio/paciente/">visualização</a></li>
    <li> Usuário: <a href="../admin/laboratorio/usuario/add">cadastro</a> | <a href="../admin/laboratorio/usuario/">visualização</a></li>
    <li> Perfil: <a href="../admin/laboratorio/perfil/add">cadastro</a> | <a href="../admin/laboratorio/perfil/">visualização</a></li>
    <li> Exame: <a href="../admin/laboratorio/exame/add">cadastro</a> | <a href="../admin/laboratorio/exame/">visualização</a></li>
</ul>